@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
:root{
    --accent : #2abd67;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #131315;
}

.header-container{
    display: flex;
    align-items: center;
    color: white;
    background: black;
    padding: 2rem;
    border-bottom: 2px solid var(--accent);
}

#head{
    color: var(--accent)
}

.App{
    color: white;
}

.TodoWrapper{
    background: #131315;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}

.TodoForm{
    width: 100%;
}

.todo-input{
    outline: none;
    background: none;
    color: #fff;
    border: 1px solid var(--accent);
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    ;
}

.submit-btn{
    border: none;
    background: var(--accent);
    color: #fff;
    padding: 0.55rem;
    cursor: pointer;
}

.card{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: rgb(35 34 36);
    margin-top: 1rem;
    padding: 1rem;
    text-align: start;
    font-size: 0.6rem;
    transition: 200ms;
    border-left: green;
}

.card > h1{
    flex: 1;
    font-family:'Courier New', Courier, monospace;
}

.check{
    height: 1.2rem;
    width: 1.2rem;
    accent-color: var(--accent);
    cursor: pointer;
}

.icon:hover{
    color: var(--accent);
    cursor: pointer;
}

.card:hover{
    box-shadow: 5px 8px 8px rgba(0,0,0,6);
    transform: translateY(-5%);
}

.completed{
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}