@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
:root{
   /* --accent : #2abd67; */
   --accent : rgb(12, 196, 180);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    padding: 2rem;
    border-bottom: 4px solid var(--accent) ;
    margin-bottom: 2rem;
}

.logo{
    display: flex;
    animation: moveinright 2s;
}

.routes{
    display: flex;
    gap: 1rem;
    animation: moveinleft 2s;
}

.routes > button{
    text-decoration: none;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
}

.routes > 
button:hover{
    color: var(--accent);
}

.active{
    color: rgb(245, 0, 0);
}

.faCircleCheck{
    font-size: 3rem;
    color: var(--accent);
}

#head{
    color: var(--accent)
}

.App{
    color: white;
}

.TodoWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.TodoForm{
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.todo-input{
    flex: 1;
    outline: none;
    background: none;
    color: #fff;
    border: 1px solid var(--accent);
    padding: 1.255rem 1rem;
}

.submit-btn{
    border: none;
    background: var(--accent);
    color: #fff;
    padding: 1.33rem;
    cursor: pointer;
}

.submit-btn:hover{
    color: black;
}

.NotesWrapper{
   padding: 1rem;
}

.noteContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:3rem;
    padding: 1rem;
    margin-top: 2rem;
}

.NoteForm{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-input{
    outline: none;
    background: none;
    color: #fff;
    border: 1px solid var(--accent);
    padding: 1.255rem 1rem;
}

.note-submit-btn{
    border: none;
    background: var(--accent);
    color: #fff;
    padding: 1.33rem;
    cursor: pointer;
}

.note-submit-btn:hover{
    color: black;
}

.radioBtnsContainer{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.2rem 0.2rem;
    background: var(--accent);
}

input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: white;
    border: 2px solid rgb(255, 255, 255);
    width: 2rem;
    height: 1rem;
    cursor: pointer;
}

.radio0:checked,
.radio0:hover{
    background: blue;
}

.radio1:checked,
.radio1:hover{
    background: rgb(85, 255, 0);
}

.radio2:checked,
.radio2:hover{
    background: red;
}

.card{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: rgb(35 34 36);
    margin-top: 1rem;
    padding: 1rem;
    text-align: start;
    font-size: 0.6rem;
    transition: 200ms;
    border-left: green;
}

.card > h1{
    flex: 1;
    font-family:'Courier New', Courier, monospace;
    width: 60%;
    overflow-wrap: break-word;
}

.check{
    height: 1.2rem;
    width: 1.2rem;
    accent-color: var(--accent);
    cursor: pointer;
}

.icon:hover{
    color: var(--accent);
    cursor: pointer;
}

.card:hover{
    box-shadow: 5px 8px 8px rgba(0,0,0,6);
    transform: translateY(-5%);
}

.completed{
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

#one{
    border-left: 4px solid blue;
}

#two{
    border-left: 4px solid rgb(0, 255, 0);
}

#three{
    border-left: 4px solid red;
}

.noteCard{
    min-width: 4rem;
    min-height: 8rem;
    overflow-wrap: break-word ;
    background-color: rgb(255 238 0);
    color: black;
    border-radius: 1rem;
    padding: 1rem;
}

.noteCard > h2{
    font-family:'Courier New', Courier, monospace;
}

@keyframes moveinright{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveinleft{
    0%{
        opacity: 0;
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
    }
}

@media (max-width:500px){
    html{
        font-size: 12px;
    }
    .radioBtnsContainer{
        gap: 0.47rem;
    }
}
